body,
html {
  margin: 0;
  padding: 0;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  height: 100vh;

  background-color: #FFFCE8;
  color: #697A21;
}

.main-wrapper {
  padding: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Login page */
.login-message {
  height: 40px;
}

.input-username,
.input-word {
  padding: 0.2rem;

  border: 1px solid lightgray;
  border-radius: 3px;

  height: 20px;
}

.input-username,
.input-word::placeholder {
  color: lightgray;
}

.input-error-message {
  color: red;
}

[class^="button-"] {
  background-color: #697A21;
  color: white;

  border: none;
  border-radius: 3px;

  padding: 0.4rem;
}

.button-logout {
  margin-top: 3rem;
  width: 60px;
}

[class^="button-"]:hover {
  cursor: pointer;
  background-color: #c4c9b0;
}

.form-game {
  display: flex;
  flex-direction: column;
}

/* data page */
.stored-word {
  height: 40px;
}

.link-logout {
  text-decoration: none;
  color: black;
}


/* Invalide username page */
.username-rules-menu {
  padding: 0;
}

.username-rule {
  list-style: none;
}